* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
  background:red;
}

#rect{
 position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20%;
  height: 20%;
  background: #fff;
}